{
  "parser": "babel-eslint",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./babel.config.json"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "semi": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "max-len": ["error", { "code": 100 }]
  },
  "plugins": ["jest"]
}
